.IdCard {
  display: flex;
  align-items: center;
  border: 1px solid black;
  margin: 0.5rem;
  padding: 0.5rem;
}

img {
  height: 100%;
}

.IdCardDetails {
  display: flex;
  flex-direction: column;
  line-height: normal;
}
