.DriverCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem;
  background-color: rgb(66, 105, 247);
  border-radius: 1rem;
  color: white;
}

.DriverInfos {
  line-height: 0.5rem;
}

.DriverImg img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.DriverCard p span:last-child {
  padding: 0 1rem;
}